*{
    margin: 0px;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

main{
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#aside-main{
    width: 30%;
    height: 92vh;
    min-width: 250px;
    margin: 4vh;
    font-size: 1.3rem;
    color: white;
    display: flex;
    flex-direction: column;
}

#aside-main {
    transition: background-color 0.3s ease;
    transition: translate 0.3s ease;
}

#aside-main:hover{
    background-color: rgba(255, 255, 255, 0.201);
    translate: 0 -5px;
}
  
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}

#asideContainer{
    text-align: center;
}

.title{
    font-size: 1.5rem;
    text-align: center;
    margin: 16px auto;
}

#aside1>h4 , #aside2>h4{
    padding-left: 30px;
    padding-top: 5px;
    font-weight: 400;
    text-align: left;
}

hr{
    margin: 16px 0;
}

img{
    padding-top: 20px;
    width: 50%;
    border-radius: 100%;
}

#infoContainer{
    width: 60%;
    min-width: 400px;
    padding-top: 4vh;
    background: #212121;
    color: #fff;
    margin-left: 24px;
    border-radius: 16px;
    margin: 20px;
    background-color: #3b3b3b;
}

.glass-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    position: relative;
    overflow: hidden;
}
  
.glass-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
}
  
.glass-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.8),
      transparent,
      rgba(255, 255, 255, 0.3)
    );
}

.childContainer{
    margin: 32px auto;
    width: 90%;
    font-size: 2rem;
}

.childContainer>h2{
    text-align: center;
}
